{
  extends: './dir/subdir/extended-by-babelrc.js',
  plugins: [
    ['module:plugin', {label: 'plugin@babelrc.1'}],
    ['module:plugin', {label: 'plugin@babelrc.2'}, 'plugin@babelrc.2'],
    ['module:plugin', {label: 'plugin@babelrc.3'}, 'plugin@babelrc.3'],
    ['module:plugin', {label: 'plugin-not-copied'}, 'copy-or-not'],
    ['@scope/babel-plugin-plugin', {label: '@scope/babel-plugin-plugin'}]
  ],
  presets: [
    ['module:preset', {label: 'preset@babelrc'}, 'preset@babelrc'],
    ['@scope/babel-preset-preset', {label: '@scope/babel-preset-preset'}]
  ],
  env: {
    foo: {
      plugins: [
        ['module:plugin', {label: 'plugin@babelrc.1.foo'}],
        ['module:plugin', {label: 'plugin@babelrc.2.foo'}, 'plugin@babelrc.2'],
        ['module:env-plugin', {label: 'env-plugin@babelrc.foo'}, 'plugin@babelrc.foo'],
        ['module:plugin-default-opts']
      ],
      presets: [
        ['module:preset', {label: 'preset@babelrc.foo'}, 'preset@babelrc.foo']
      ]
    }
  },
  sourceMaps: false
}
